<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
@model List<EAD_Project.Models.Song>

<div class="header-bg">
<div class="wrap">
<div class="header">
	<div class="logo">
		<a href="index.html"><img src="~/images/logo.png" alt="" title="logo"></a>
	</div>
	<div class="grid_1_of_3 images_1_of_3">
					 
				       
				</div>
	
   <div class="clear"></div>
</div>
</div>
</div>
<div class="content-bg">
<div class="wrap">
<div class="main">
<div class="content">
	<h2>Search Result</h2>
	<div class="select">
		
		    
            @if (Model.Count == 0)
            {
                <h3> No song found </h3>
            }
                else
                {
                    <div class="section group example">
                        <div class="grid_1_of_2 images_1_of_2">
                        <b>Cover Image</b>

                    </div>
                    <div class="grid_1_of_2 images_1_of_2">
                       <b> Title </b>
                    </div>
                    <div class="grid_1_of_2 images_1_of_2">
                       <b>Artist </b>
                    </div>
                    <div class="grid_1_of_2 images_1_of_2">
                        
                    </div>

                </div>
            foreach (var s in Model)
            {
                <div class="section group example">
                    <div class="grid_1_of_2 images_1_of_2">
                        <a href="details.html"><img src="~/images/songs/@s.Cover" alt="" /></a>

                    </div>
                    <div class="grid_1_of_2 images_1_of_2">
                       @s.Title
                    </div>
                    <div class="grid_1_of_2 images_1_of_2">
                        @s.Artist
                    </div>
                    <div class="grid_1_of_2 images_1_of_2">
                        <div class="contact-form">
                            <form action="../Home/player" method="post">
                                <input name="song" type="hidden" value="@s.Audio" />
                                <input type="submit" value="Play Now"/>
                            </form >
                        </div>
                    </div>

                </div>
            }
            }




	</div>
</div>
<div class="sidebar">
<div class="sidebar-list">
	
</div>
</div>
<div class="clear"></div>
</div>
</div>
</div>
